<div layout="row" ng-controller="ProfileController">
    <div flex>
        <md-content layout="column" style="background-color: transparent; overflow: hidden;">
            <md-toolbar class="md-tall md-hue-2">
                <span flex></span>
                <div layout="column" layout-align="center center" class="md-toolbar-tools-bottom inset">
                    <user-avatar ng-if="isUserLoggedIn"></user-avatar>
                    <span></span>
                    <div>{{ user.name }}</div>
                    <div>{{ user.email }}</div>
                </div>
            </md-toolbar>
            <md-progress-linear id="profileLoadBar" md-mode="indeterminate"></md-progress-linear>
            <div class="userEvents" layout="column" ng-repeat="event in userEvents" on-finish-render>
                <md-card layout="column" class="md-whiteframe-z1" ng-click="goToEvent($index)">
                    <div layout-fill>
                        <div class="gMaps" style="height: 135px;"></div>
                    </div>
                    <md-card-content layout="row">
                        <div flex layout="column">
                            <span>{{ event.date | date:'longDate' }}  {{ event.date | date:'shortTime' }}</span>
                            <h4>{{ event.name }}</h4>
                        </div>
                        <div layout="column" layout-align="end end">
                            <md-menu style="padding: 0px;">
                                <md-button aria-label="Event Options" ng-click="openMenu($mdOpenMenu, $event, $index)"
                                           style="margin: 0px;padding: 0px; min-width: 66px;">
                                    <ng-md-icon md-menu-origin icon="more_vert"></ng-md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item ng-repeat="itm in optionsMenu">
                                        <md-button ng-click="menuItemClick($index, itm.label)">
                                            <ng-md-icon md-menu-align-target icon="{{itm.icon}}"></ng-md-icon>
                                            <label>{{ itm.label }}</label>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </md-content>
    </div>
</div>
