<md-bottom-sheet class="md-grid">
    <h2 class="md-title">Share with your friends</h2>
    <md-list>
        <md-list-item>
            <md-button class="md-grid-item-content" ng-click="listItemClick('copy')">
                <a class="fa fa-colored">
                    <ng-md-icon icon="content_copy"></ng-md-icon>
                    <div class="md-grid-text"> Copy URL </div>
                </a>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button class="md-grid-item-content" ng-click="listItemClick('fb')">
                <a social-facebook class="fa fa-colored">
                    <ng-md-icon icon="facebook"></ng-md-icon>
                    <div class="md-grid-text"> Facebook </div>
                </a>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button class="md-grid-item-content" ng-click="listItemClick('twitter')">
                <a social-twitter class="fa fa-colored">
                    <ng-md-icon icon="twitter"></ng-md-icon>
                    <div class="md-grid-text"> Twitter </div>
                </a>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button class="md-grid-item-content" ng-click="listItemClick('gplus')">
                <a social-gplus class="fa fa-colored">
                    <ng-md-icon icon="google-plus"></ng-md-icon>
                    <div class="md-grid-text"> G+ </div>
                </a>
            </md-button>
        </md-list-item>
    </md-list>
</md-bottom-sheet>
