<div ng-controller="LoginController">
    <div layout="row">
        <div flex>
            <md-content layout="column" style="background-color: transparent;">
                <md-card class="md-whiteframe-z1">
                    <md-card-content>
<!--                        <div layout="row" layout-align="center"><h2>Login</h2></div>-->
                        <form name="loginForm" ng-submit="loginUser()">
                            <md-input-container>
                                <input id="loginEmail" type="email" ng-model="login.email" aria-label="Email" md-maxlength="250" required />
                                <label for="loginEmail">Email</label>
                            </md-input-container>
                            <md-input-container>
                                <input id="loginPassword" type="password" ng-model="login.password" aria-label="Password" required />
                                <label for="loginPassword">Password</label>
                            </md-input-container>
                            <md-checkbox class="md-accent" id="logRemMeChkBx"
                                         ng-model="login.logRemMe" aria-label="Remember Me">Remember Me</md-checkbox>
                            <br>
                            <div flex>
                                <alert-tag alert="alert"></alert-tag>
                            </div>
                            <div layout="row" layout-align="start start">
                                <md-button class="md-primary" ng-href="#/recover">Forgot password?</<md-button>
                                    </div>
                            <div flex layout="row" layout-align="center center" ng-switch on="serviceRunning">
                                <div ng-switch-when="true">
                                    <md-progress-circular class="md-accent" id="loginLoading"
                                                          md-mode="indeterminate" md-diameter="36"></md-progress-circular>
                                </div>
                                <div layout="column" layout-fill ng-switch-default>
                                    <md-button class="md-raised md-accent" type="submit" name="loginBtn"
                                               ng-disabled="loginForm.$invalid || serviceRunning">Login</md-button>
                                </div>
                            </div>
                            <div layout="row" layout-align="center center">
                                <p style="color: #90939a; margin-bottom: 0;">
                                    <small>Don't have an account yet? <a href="#/register">Sign up</a></small>
                                </p>
                            </div>
                        </form>
                        <div>
                            <div layout="row" layout-align="center center" style="position: relative; z-index: 1;">
                                <p style="color: #90939a; background-color: white; padding: 0 10px;"><small>OR LOGIN USING</small></p>
                            </div>
                        </div>
                        <md-divider style="position: relative; top: -25px;"></md-divider>
<!--                        <br/>-->
                        <div layout="column" layout-fill>
                            <md-button class="btn-facebook md-raised" ng-click="authenticate('facebook')">
                                <ng-md-icon icon="facebook" style="fill: white"></ng-md-icon>
                                Sign in with Facebook
                            </md-button>
                            <md-button class="md-raised btn-google-plus" ng-click="authenticate('google')">
                                <ng-md-icon icon="google-plus" style="fill: white"></ng-md-icon>
                                Sign in with Google
                            </md-button>
<!--                            <md-button class="btn-github" ng-click="authenticate('github')">Sign in with GitHub</md-button>-->
<!--                            <md-button class="btn-linkedin" ng-click="authenticate('linkedin')">Sign in with LinkedIn</md-button>-->
                            <md-button class="md-raised btn-twitter" ng-click="authenticate('twitter')">
                                <ng-md-icon icon="twitter" style="fill: white"></ng-md-icon>
                                Sign in with Twitter
                            </md-button>
<!--                            <md-button class="btn-foursquare" ng-click="authenticate('foursquare')">Sign in with Foursquare</md-button>-->
<!--                            <md-button class="btn-yahoo" ng-click="authenticate('yahoo')">Sign in with Yahoo</md-button>-->
<!--
                            <md-button class="btn-live" ng-click="authenticate('live')">
                                <ng-md-icon icon="windows" style="fill: white"></ng-md-icon>
                                Sign in with Windows Live
                            </md-button>
-->
                        </div>
                    </md-card-content>
                </md-card>
            </md-content>
        </div>
    </div>
</div>
