<div ng-controller="RegisterController">
    <div layout="row">
        <div flex>
            <md-content layout="column" style="background-color: transparent;">
                <md-card class="md-whiteframe-z1">
                    <md-card-content>
<!--                        <div layout="row" layout-align="center"><h2>Register</h2></div>-->
                        <form name="registrationForm" ng-submit="registerUser()">
                            <md-input-container>
                                <input id="regUsername" type="text" ng-model="regData.name" aria-label="Username" required />
                                <label for="regUsername">Username</label>
                            </md-input-container>
                            <md-input-container>
                                <input id="regEmail" type="email" ng-model="regData.email" aria-label="Email" md-maxlength="250" required />
                                <label for="regEmail">Email</label>
                            </md-input-container>
                            <md-input-container>
                                <input id="regPassword" type="password" ng-model="regData.password" aria-label="Password" required />
                                <label for="regPassword">Password</label>
                            </md-input-container>
                            <md-input-container>
                                <input id="regConfPassword" type="password" ng-model="regData.confPassword" aria-label="Confirm Password" required />
                                <label for="regConfPassword">Confirm Password</label>
                            </md-input-container>
                            <p style="color: #90939a;">
                                <small>
                                    By clicking on Sign Up, you agree to the <a href="javascript: return false;">terms &amp; conditions</a> and <a href="javascript: return false;">privacy policy</a>
                                </small>
                            </p>
    <!--
                            <md-checkbox class="md-accent" id="acceptTermsChkBx"
                                         ng-model="regData.regAcceptTerms" check-required
                                         aria-label="I agree to the terms and conditions">I agree to the terms and conditions</md-checkbox>
                            <br />
    -->
                            <div flex>
                                <alert-tag alert="alert"></alert-tag>
                            </div>
                            <div flex layout="row" layout-align="center center" ng-switch on="serviceRunning">
                                <div ng-switch-when="true">
                                    <md-progress-circular class="md-accent" id="regLoading"
                                                          md-mode="indeterminate" md-diameter="36"></md-progress-circular>
                                </div>
                                <div layout="column" layout-fill ng-switch-default>
                                    <md-button class="md-raised md-accent" type="submit" name="registerBtn"
                                               ng-disabled="registrationForm.$invalid || serviceRunning">Sign Up</md-button>
                                </div>
                            </div>
                            <div layout="row" layout-align="center center">
                                <p style="color: #90939a;">
                                    <small>Already have an account? <a href="#/login">Log in now</a></small>
                                </p>
                            </div>
                        </form>
                    </md-card-content>
                </md-card>
            </md-content>
        </div>
    </div>
</div>
