<!DOCTYPE html>
<html ng-app="VoutApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="fragment" content="!" />

        <title>VoutApp</title>

        <!-- CSS -->
        <link rel="stylesheet" href="./css/angular-material.min.css" type="text/css">
        <link rel="stylesheet" href="./css/font-awesome.css" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic" type="text/css">
        <link rel="stylesheet" href="./css/style.css" type="text/css" >
    </head>
    <body layout="row" ng-controller="MainController">

        <div layout="column">
            <side-navigation></side-navigation>
        </div>

        <div layout="column" layout-fill style="overflow: hidden;">
            <md-toolbar md-scroll-shrink md-shrink-speed-factor="1" class="md-whiteframe-z1">
                <div ng-controller="HeaderController" class="md-toolbar-tools">
                    <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu"
                               style="min-width: 48px !important; margin-left: -12px !important; margin-right: 5px !important;">
                        <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                    <h3> {{ pageTitle }} </h3>
                    <span flex></span>
                    <md-button style="min-width: 48px !important;" aria-label="Share" ng-click="OpenBottomSheet($event)">
                        <ng-md-icon icon="share"></ng-md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-content style="background-color: transparent;" class="noMarginBottom">
                <div layout="row" flex>
                    <div flex>
                        <div ng-view></div>
                    </div>
                </div>

                <div class="footer"></div>
            </md-content>
        </div>

        <!-- Base Scripts -->
        <script src="./js/base/jquery-1.11.3.min.js"></script>
        <script src="./js/base/angular.min.js"></script>
        <script src="./js/base/angular-animate.min.js"></script>
        <script src="./js/base/angular-aria.min.js"></script>
        <script src="./js/base/angular-material.min.js"></script>
        <script src="./js/base/angular-route.min.js"></script>
        <script src="./js/base/angular-social-links.js"></script>
        <script src="./js/base/angular-material-icons.min.js"></script>
        <script src="./js/base/moment.min.js"></script>
        <script src="./js/base/angular-moment.min.js"></script>
        <script src="./js/base/loading-bar.min.js"></script>
        <!--[if lte IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/Base64/0.3.0/base64.min.js"></script>
        <![endif]-->
        <script src="./js/base/satellizer.min.js"></script>

        <!-- Initializing  -->
        <script src="./js/app.js"></script>
        <script src="./js/base/utils.js"></script>

        <!-- Apps -->
        <script src="./js/Apps/AppHeaderApp.js"></script>
        <script src="./js/Apps/SideNavApp.js"></script>
        <script src="./js/Apps/LoginApp.js"></script>
        <script src="./js/Apps/PasswordRecoveryApp.js"></script>
        <script src="./js/Apps/RegistrationApp.js"></script>
        <script src="./js/Apps/FeedbackApp.js"></script>
        <script src="./js/Apps/EventCardApp.js"></script>
        <script src="./js/Apps/CommentApp.js"></script>
        <script src="./js/Apps/MyProfileApp.js"></script>
        <script src="./js/Apps/SocialSharingApp.js"></script>
        <script src="./js/Apps/AlertsApp.js"></script>

        <!-- Services -->
        <script src="./js/services/services.js"></script>
    </body>
</html>
